<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>Match</title>
</head>

<body>
  <h1>Match</h1>

  <h2>[[${player_name}]] V.S. [[${com_name}]]</h2>

  <p>
    <a href="/janken?my_hand=0">ぐー</a>
    <a href="/janken?my_hand=1">ちょき</a>
    <a href="/janken?my_hand=2">ぱー</a>
  </p>

  <div th:if="${my_hand}">
    あなたの手 [[${my_hand}]]
  </div>
  <div th:if="${com_hand}">
    相手の手 [[${com_hand}]]
  </div>
  <div th:if="${result}">
    結果 [[${result}]]
  </div>

  <p><a href="/lec02">もどる</a></p>
</body>

</html>
